.nav-form{
    height: 15px; line-height: 15px;
    
}

  .parallax-container {
    height: 600px;
  }

.fixed{
    position: relative;
    top:440px;
    left:80px;
}
.fixed2{
    position: relative;
    top:460px;
    left:80px;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #0d47a1;
}
.input-field input[type=password].valid {
  border-bottom: 1px solid #0d47a1;
}
.input-field input[type=text]:enabled {
  border-bottom: 1px solid #0d47a1;
}
.input-field input[type=password]:enabled {
    border-bottom: 1px solid #0d47a1;
  }