.nav-form{
  height: 15px; 
  line-height: 15px;
}
.nav-form.blue.lighten-1{
  height: 7px; 
  line-height: 7px;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
}
.input-field .prefix.right{
  margin-top:10px;
  right: 30;
  color:rgb(71, 71, 71);
}
.input-field.input-outlined > input {
  margin-left: 20px;
  padding-left: 10px;
  margin-right:margin-left;
  margin-top:10px;
  border: 2px solid #eee;
  width: calc(100% - 3.5rem);
  float: none;
  display: block;
  border-radius: 4px;
  transition: box-shadow, border-color 0.15s;
}
.input-field.input-outlined > input:focus:not([readonly]){
  border-color: #56a7f2;
  box-shadow: 0 1px 0 0px #56a7f2;
}
.input-field .prefix.right.active{
  color:#56a7f2;
}
::placeholder {
  color: rgba(172, 172, 172, 0.842);
  font-family:'Noto Sans JP', sans-serif;
}
.alinhado-a-direita{
  float:right;
  margin-right:10px;
  margin-top:-20px;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
}
hr{
  border-color: #64b5f6 ;
  display: inline-block; 
  width: 40%; 
  margin-bottom: 4px;
  margin-left: 7px;
}
fieldset { 
border-left:transparent;
border-right:transparent;
border-bottom:transparent;
border-top:2px solid #9e9e9e ;
 
}
legend{
  position: relative;
  top:-10px;
  padding:2px;
  
}
.dropdown-content li>a, .dropdown-content li>span{
  color:#1976d2;
}
  .parallax-container {
    height: 600px;
  }


.fixed{
    position: relative;
    top:440px;
    left:80px;
}
.fixed2{
    position: relative;
    top:460px;
    left:80px;
}

.Background{
  background-color: #f4f8fa4f ;
}
.fluid1{
  float:left;
  position: relative;
  top:-53px;
  left:-90px;
  width:200px;
  padding: 0px;
 margin: 0px 0px 0px 0px;
 z-index: -1;
}
.alinhamento{
position: relative;
margin-left: -30%;
margin-right: 15%;
text-align: center;
}
.ipanema{
  width:380px;
  float:right;
  margin-top:-120px;
}
nav{
  background-color: rgba(0, 0, 0, 0%);
  color: rgba(0, 0, 0, 0%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
}
.Background3{
  background-image:linear-gradient(to right, #30cfd0 5%, #330867 100%);
}
.welcomeImg{
  float: left;
  width: 1100px;
  margin-left:150px;
}
.welcomeImgMobile{
  max-width: 100%;
  padding: 1em;
}
.FlexContainer{
  align-items: center;
  display: flex;
  justify-content: center;
}
.welcomeButton{
  float:left;
  margin-left:220px;
  margin-top:-100px;

}
.white{
  background-color: transparent !important;
}
.important{
  color:red;
}
.tiny.material-icons{
  position:relative;
  top:2px;
}
a.modal-trigger.radius{
 padding: 2px;
 background-image:linear-gradient(to left, #396afc, #2948ff);
 border-radius:5px;
 box-shadow: 2px 2px 5px grey;
}
.butao{
  position:relative;
  left:390px;
  border:transparent;
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.7em 0.7em 0;
  box-sizing: border-box;
  border-radius:0.55em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  color:#3369ff;
  font-weight: 700px;
  box-shadow:inset 0 -0.9em 0 -0.35em rgba(0,0,0,0.17);
  background-color:#FFFFFF;
}
.butaoAtivado{
  position:relative;
  left:390px;
  border:transparent;
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.7em 0.7em 0;
  box-sizing: border-box;
  border-radius:0.55em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  color:#FFFFFF;
  font-weight: 700px;
  box-shadow:inset 0 -0.9em 0 -0.35em rgba(0,0,0,0.17);
  background-color:#3369ff;
}
.butaoText{
  position: relative;
  top:-22px;
  padding:2px;
}
.butao:hover{
  background-color: #2355dd;
  color:#FFFFFF;
  
}

.nome-produto{
  font-weight: bolder;
}
.butao:active{
  top:0.5em;
}
.modal-close.waves-effect.waves-teal.btn-flat{
  position: relative;
  float: right;
  top:-35px;
  right:30px;
}
.tooltip{
  position: relative;
  display: inline-block;
  z-index: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -95px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.modal-overlay{
  bottom:25%;
  top:-5%;
  width:125%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.select-wrapper input.select-dropdown{
  z-index:0;
}
.butaoEspaco{
  position: relative;
  float:left;
  top:1em;
  left:12em;
}
.ButtaoEspacoTexto{
  position: relative;
  top:-4px;
}
.card-image-fade{
  background-image:linear-gradient(to right, #00b4db, #0083b0);
}
.card.horizontal{
  border-radius: 10px;
}
.card.horizontal:hover{
  box-shadow: 0px 8px #008f947e;
}
.header{
  margin-left:15px;
  
}
.tiny.material-icons.red-text{
  top: -10px;
}
.card-panel.col.s3.hoverable{
  border:3px solid #1976d2;
}
.card-panel.col.s5.hoverable.mobile{
  border:3px solid #1976d2;
}
.list-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.empty-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.cadastros-align{
  margin-left:200px;
}
.col.cadastro{
  margin-left: calc(100% - 75%);
}
.back{
  text-align: center;
}
.gradient{
  background-image:linear-gradient(to right, #00b4db, #0083b0);
  color:white;
}
@media only screen and (max-width: 400px) {
  .mobile-hide{ display: none !important; }
  .alinhamento{
    position: relative;
    margin-left: 20%;
    text-align: center;
   }
  .butao{
    left:50px;
  }
  .butaoAtivado{
    left:50px;
  }
  .welcomeButton{
  margin-left: 0.5em;
  margin-top:2em;
  }
  .butaoEspaco{
    left:9px;
  }
  .tooltip.desktop-hide{
    float:right;
  }
  .tooltip .tooltiptext {
    left:10%;
    margin-left: -170px;
  }
  .tooltip .tooltiptext::after {
  margin-left: 25px;
  }
  .modal{
  width: 90%;
}

}
@media only screen and (max-width: 400px) {
  .mobile{ display: inline !important; }
  }
  @media only screen and (min-width: 500px) {
  .desktop-hide{ display: none !important; }
  .modal.confirm{
    width: 40%;
  }
  }
