.welcomeImg, .my-wrapper {
    width: 110%;
}
.row h1{
    overflow-wrap: break-word;
    font-size:3.5rem;
    font-weight:700;
    color:#fff;
}
.innerdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}